ALTER TABLE Users
DROP CONSTRAINT PK__Users__77222459755977D4

ALTER TABLE Users
ADD CONSTRAINT Users_Key PRIMARY KEY (Id)

ALTER TABLE Users
ADD UNIQUE (Username)

ALTER TABLE Users
ADD CONSTRAINT UsernameMinSize CHECK (LEN(Username) >= 3)